.fsd-2c-700lt-layout .columns .lt-col{float:left;width:700px;margin-right:25px;}
.fsd-2c-700lt-layout .columns .rt-col{float:left;width:205px;}
.fsd-2c-700lt-layout.fsd-full-width .columns .rt-col{width:230px;}