.page-title-fsd-module .standard-red-skin{background:none;padding:0;}
.page-title-fsd-module .standard-red-skin h1, .page-title-fsd-module .standard-red-skin p{color:#333;}
.fsd-layout.fsd-full-width .page-title-fsd-module .standard-red-skin h1, .fsd-layout.fsd-full-width .page-title-fsd-module .standard-red-skin p{margin:0;padding-left:0;width:auto;}