.page-title-fsd-module .standard-red-skin{background:#dc1431;padding:0 25px;}
.page-title-fsd-module .standard-red-skin h1, .page-title-fsd-module .standard-red-skin p{color:#fff;line-height:60px;font-size:22px;}

.cf-cnx-regular-inactive .page-title-fsd-module .standard-red-skin h1, .cf-cnx-regular-inactive .page-title-fsd-module .standard-red-skin p{font-size:20px;}

.fsd-layout.fsd-full-width .page-title-fsd-module .standard-red-skin{padding:0;}
.fsd-layout.fsd-full-width .page-title-fsd-module .standard-red-skin h1, .fsd-layout.fsd-full-width .page-title-fsd-module .standard-red-skin p{padding-left:25px;margin:0 auto;width:955px;}